header {
    display: flex;
    flex-direction: row;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.backgroundimage {
    background-image: url(../images/background.jpg);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.my-picture {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    transition: transform 0.8s;
    border: 10px solid black;
}

.flipped {
    transform: rotateY(180deg)
}

.titles {
    position: relative;
    width: 100%;
    height: 10vh;
    font-size: 2vh;
    margin-right: 5px;
    top: 0;
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(44, 42, 42);
    color: rgb(47, 149, 197);
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.quote {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border-bottom: 6px solid black;
    border-radius: 5px;
    font-size: 2.5vh;
    text-align: center;
}

.name {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 3vh;
}

.btn-open {
    height: 6vh;
    width: 20vh;
    border-radius: 3vh;
    background-color: rgb(44, 42, 42);
    color: rgb(17, 202, 202);
    transition: all .6s ease-in-out;
    position: absolute;
    text-align: center;
    justify-content: center;
    margin-top: 4vh;
    font-size: 2vh;
    left: 50%;
    margin-left: -10vh;
}

.btn-open:hover {
    width: 25vh;
    height: 8vh;
    border-radius: 40px;
    font-size: 2.5vh;
    transition: all .3s ease-in-out;
    margin-top: 3vh;
    margin-left: -12.5vh;
}

.flip-image.flip {
    transform: rotateY(180deg);
}

.btn-open:focus + .menu-content {
    display: block;
}

.slide-in { /* Class to make elements of the page slide in from the right. */
    opacity: 0;
    transform: translateY(100%);
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY();
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 1s;
}

.fade-in.show {
    opacity: 1;
}

@media only screen and (min-width: 1000px) {
    .titles {
        font-size: 200%;
    }
    .quote {
        border-bottom: 3px solid black;
    }
}
