 /* Adding some basic styling and formatting */

 .cloud {
	width: 350px; height: 120px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
    display: flex;
    flex-wrap: wrap;
    /* transform: scale(1.17); */
	position: relative;
	margin: 120px auto 20px;
    text-align: center;
    justify-content: center;
    transition: transform 0.5s ease;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
    z-index: -1;
}

.cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
    
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.cloud:hover {
    transform: scale(1.15);
}

title { /* not even sure what this is for */
    font-family: Georgia, serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #333;
    color: #fff;
    padding: 1em;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: 1;
    margin: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

h2 {
    display: flex;
    justify-content: center;
}

.h1span {
    margin-left: 10px;
    opacity: 0;
}

.background3image {
    background-image: url(../images/background2.jpg);
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    color: inherit;
    text-decoration: none;
}

.project-item {
    display: flex; 
    flex-wrap: wrap;
    border-radius: 10px;
    margin-left: 5px;
    flex-direction: row;
    justify-content: center;
}

.projectpara {
    display: flex;
    justify-content: center;
    width: 75%;
}

/* .homeButton {
    background-color: rgb(44, 42, 42);
    color: #e6e6e6;
    margin-left: 1vh;
    height: 4vh;
    width: 4vh;
    font-size: 2vh;
    border-radius: 3vh;
} */

.header1 {
    display: flex;
    align-items: center;
}

.homeButton {
    background-color: rgb(44, 42, 42);
    color: #e6e6e6;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.homeButton:hover {
    font-size: 16px;
}

.slide-in { /* Class to make elements of the page slide in from the right. */
    opacity: 0;
    transform: translateX(100%);
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX();
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 1s;
}

.fade-in.show {
    opacity: 1;
}

/* .popup-arrow {
  position: absolute;
  left: 0;
  top: 2em;
  width: 4px;
  height: 8px;
  background: #000;
  transform: rotate(-45deg) translateX(3px);
  z-index: 10;
} */

/* .popup-text {
  font-size: 1.2em;
  color: #fff;
  padding-left: 5px;
} */

.fade-in {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in.show {
  opacity: 1;
}   

@media only screen and (min-width: 981px) {
    .project-item {
        flex: 1;
    }
}

/* Encompasses mobile phones / tablets. */
@media only screen and (max-width: 980px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .project-item {
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 250px;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    .cloud, .cloud:after {
        transform: scale(1.5);
    }
    

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        position: absolute;
    }

    .projectpara {
        font-size: 20px;
        position: absolute;
        bottom: -5px;
    }

    .homeButton {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        font-size: 40px;
    }
    
    .cloud {
        left: 30%;
        margin: 0;
        margin-bottom: 80px;
    }
}
