body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.btn {
    background-color: rgb(44, 42, 42);
    border: 2px solid #333;
    border-radius: 50%;
    color: #e6e6e6;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
    width: 40px;
    transition: all .2s ease-in-out;
}

.btn:hover {
    font-size: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.item {
    background-image: url("../images/cloud.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: content-box;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    height: 200px;
    width: 50%;
    line-height: 50vh;
}

@media only screen and (max-width: 980px) {
    .container {
        grid-template-columns: 1fr;
    }
}